@import 'null_style.scss';

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  background: rgba(46, 51, 35, 0.562);
}
h1 {
  font-size: 24px;
  margin: 15px 0;
}
h2 {
  font-size: 18px;
}
span {
  color: yellow;
}
